<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="echelon-vendor" value="vendor/nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="echelon-vendor">
      <package pattern="EchelonFoundry.Arca.Core" />
      <package pattern="EchelonFoundry.Arca.GitHub" />
      <package pattern="EchelonFoundry.Fides" />
      <package pattern="EchelonFoundry.Fides.Arca" />
      <package pattern="EchelonFoundry.Fides.Client" />
      <package pattern="EchelonFoundry.Fides.Hosting" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
